<nav class="navbar navbar-expand-sm fixed-top p-0" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">

  <div class="collapse navbar-collapse d-flex" id="navbarNav">
     <%= link_to root_path do %>
    <%= image_tag 'logo_medio.png', size: '80x80' %>
  <% end %>
    <ul class="navbar-nav">
      <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
      <% end %>
      </li>
    </ul>
  </div>
</nav>
