<div class="mt-5">
  <h1>Orders</h1>
  <%= link_to 'Create a order', new_order_path, class: 'btn btn-success' %>
  <% @orders.each do |order| %>
    <%= link_to order_path(order) do %>
      <p><%= order.name %></p>
    <% end %>
  <% end %>
</div>
