<div>
  <div class="banner" style="background-image: url(https://img.freepik.com/fotos-gratis/deliciosa-comida-brasileira-simples_23-2148739218.jpg?w=1480&t=st=1654026960~exp=1654027560~hmac=b7bae81790f2d21838bc15d7369bba441b74bcd8ba46b7312ed3f3c63e8d8d9c);">
    <div class="inner-container">
      <h1>Order <strong>homemade</strong> quality food!</h1>
      <p>Find delicious dishes in your town cooked daily for you.</p>

      <%= form_tag products_path, method: :get, class: "simple_form search" do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your meal..."%>
        <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
        </button>
       </div>
      <% end %>
    </div>
  </div>


  <div class="inner-banner row">
    <div class="col-4">
      <i class="fas fa-utensils"></i>
      <p>Homemade food</p>
    </div>
    <div class="col-4">
      <i class="fas fa-truck"></i>
      <p>Quick and safe delivery</p>
    </div>
    <div class="col-4">
      <i class="fas fa-hand-holding-heart"></i>
      <p>Local cooks</p>
    </div>
  </div>

  <div class="center-banner">
    <div class="center-banner-text">
      <h3> We make it so you can enjoy your favorite homemade meals without having to cook them yourself.</h3>
      <br>
      <p> By ordering with Home Food, you can rest assured of recieving meals that use quality ingredients. Also, you help local business grow! </p>
      <br>
      <ul class="list list-unstyled">
        <li>
          <i class="fa fa-check"></i>
          Diverse menu
        </li>
        <li>
        <i class="fa fa-check"></i>
          Cooked daily
        </li>
        <li>
        <i class="fa fa-check"></i>
          Fair prices
        </li>
      </ul>
    </div>
    <div class="center-banner-pic">
      <%= image_tag "dishes2.png", class: "img-responsive" %>
    </div>
  </div>
</div>
