.banner {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  align-items: center;
  justify-content: space-between;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-forms {
  background-size: cover;
  background-position: center;
  background-image: url("https://img.freepik.com/fotos-gratis/mesa-alta-cheia-de-deliciosos-arranjos-de-comida_23-2149141347.jpg?w=1480&t=st=1654031330~exp=1654031930~hmac=6e6e22a570b83cb68ead57f0f8484434abf704084e04a1f494acde52f4cfde49");
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.inner-banner {
  display: flex;
  background-color: #a82d49;
  color: #fff;
  padding: 30px 0;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-size: 25px;
  margin-right: 0px;
}

.inner-banner p {
  font-size: 20px;
}

.center-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 80%;
  margin: 0px;

}

.center-banner h3 {
  font-size: 32px;
  line-height: 45px;
  color: #43121d;
  font-weight: 700;
}

.center-banner p {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #555;
}

.center-banner li {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #A82D49;
  font-size: 20px;
}

.center-banner-pic {
  width: 50%;
  display: flex;
  justify-content: left;

}

.center-banner-text {
  padding: 60px;
  width: 60%;

}
