
.navbar {
  display: flex;
  height: 100px;
  padding: 0;
  padding-top: 10px;
  height: 135px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 0.5s ease-out;
  gap: 10px;
}

.navbar-white {
  background-color: rgba(252, 222, 222, 0.85);
  color: #A82D49;
  transition: 0.5s;
  height: 80px;

  #logo {
    width: 60px;
    height: 60px;
    transition: 0.5s;
  }
  .nav-link {
    color: #A82D49;
    transition: 0.5s;
  }
}

#logo {
  transition: 0.5s;
}

.nav-link {
  color: #fff;
  font-family: "Nunito", "Helvetica", "sans-serif";
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: bold;
}

.nav-link:hover {
  color: #555;
}

.collapse {
  flex-grow: 0;
}
