<div class="container mt-5">
  <h1 class="title-products">Fresh and delicious meals</h1>

  <% if policy(Product).create? %>
      <%= link_to '+ create new product', new_product_path(@product), class: "btn-new-product"%>
  <% end %>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-4">
        <div class="food-card w-100">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, class: "food-card-image", crop: :fill %>
          <% end %>
          <%= link_to product.title.capitalize, product_path(product), class: "food-card-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
