
  <h1 class="text-center mt-4 text-red">Create a new meal</h1>
<div class="card-product d-flex flex-column h-75 w-50 mt-4 mb-5 mx-auto p-5">
<%= render 'form', product: @product %>
<%# Aqui eu puxo o _form para esta view %>
